<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style2.css" rel="stylesheet" type="text/css" />
<title>Untitled Document</title>
</head>

<body>
	<div id="top">Admin Control Panel</div>
    <div id="menu">
    	<ul>
        	<li><a href="#">Admin Page</a></li>
        	<li><a href="#">Account Manager</a></li>
        	<li><a href="#">News Manager</a></li>
        	<li><a href="#">Categorie Manager</a></li>
        	<li><a href="#">Logout (Nick)</a></li>
        </ul>
    </div>
    <div id="main">
    	
        <div id="info">
        	<div align="center">
			<table align="center" width="450">
            	<tr>
                	<td colspan="5"><strong><a href="#"><font color="#99CC33">Add A User</font></a></strong></td>
                </tr>
            	<tr>
                	<td class="title">STT</td>
                    <td class="title">Username</td>
                    <td class="title">Level</td>
                    <td class="title">Edit</td>
                    <td class="title">Del</td>
                </tr>
                <tr>
                	<td>1</td>
                    <td>Admin</td>
                    <td><font color="#FF0000">Admin</font></td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">Del</a></td>
                </tr>
                <tr>
                	<td>1</td>
                    <td>Kenny</td>
                    <td>Member</td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">Del</a></td>
                </tr>
                
            </table>

            </div>
            
       		<div class="formPanel big">
            	<fieldset>
                <legend>Add Form</legend>
            	<form action="">
                	<label>Username</label><input type="text" name="txtuser" size="30" /><br />
                    <label>Password</label><input type="text" name="txtpass" size="30" /><br />
                    <label>&nbsp;</label> <input type="submit" name="ok" value="Submit" class="button" />
                </form> 
                </fieldset>
            </div>
        </div>
    </div>
    <div id="bottom">
    	Copyright &copy; 2010
    </div>
</body>
</html>
